body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

#pokemon-games-list {
    list-style-type: none;
    padding: 0;
}

#pokemon-games-list li {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

#pokemon-games-list li:last-child {
    border-bottom: none;
}
