/* Estilo general del cuerpo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #f5e6cc; /* Color de fondo café claro */
}

.navbar-brand {
    color: #23a3ad; /* Color del texto del logo */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #23a3ad; /* Color del texto de las opciones */
    margin-right: 20px;
}

/* Estilo para el título */
.container h1 {
    color: #c50606;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Estilo para los cómics */
.comic-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center; /* Alinea el contenido al centro */
}

/* Estilo para la imagen del cómic */
.comic-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

